
body {
    font-family: 'Cabin', sans-serif;
}

#properties {
    width: 650px;
    margin: 0 auto;
}

.deal {
    display: block;
    width: 100%;
    margin: 50px;
    border: 3px solid #E9E9EB;
    padding: 50px;

    text-decoration: none;
    color: #202020;
    font-size: xx-large;
    font-weight: 500;
}

.deal:hover {
    background: #F9F9FB;
}

.deal-summary {
    display: block;
    text-decoration: none;
}

.price {
    display: block;
}

.deal:hover .deal-summary {
    color: #5975ff;
}

.property-image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 583px;
    height: 437px;
    object-fit: cover;
}